<div class="left_col scroll-view">
  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="https://www.ef.edu/sitecore/__/~/media/universal/logo/global-header/2019/black/00.svg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">

        <li><a href="/home"><i class="fa fa-home"></i> Home <span></span></a></li>

        <li><a><i class="fa fa-google"></i> Google Ads Tools <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/DashMaster/google_ads_budget_optimizer">Google Ads Budget Optimizer</a></li>
            <li><a href="#">Google Ads Negative Keyword Optimizer</a></li>
            <li><a href="/DashMaster/google_ads_ltv_optimizer">Google Ads LTV Target Optimizer</a></li>
            <li><a href="/DashMaster/google_ads_causal_inference">Google Ads Causal Inference Tool</a></li>
            <li><a href="/DashMaster/gat_ltv_monitor">GAT Acquisition LTV Monitoring Suite</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-picture-o"></i> Display Marketing <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Creative Optimizer</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-line-chart"></i> Centralized Reporting <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Consolidated Performance</a></li>
            <li><a href="#">Brand Impact Analysis</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-cog"></i> Setting <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            {% if Is_admin %}
              <li><a href="/setting/add_user">Add User</a></li>
              <li><a href="/setting/delete_user">Delete User</a></li>
              <li><a href="/setting/setting_password">Setting User Password</a></li>
            {% else %}
              <li><a href="/setting/change_password">Change Password</a></li>
            {% endif %}
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
