{% extends "base_site.html" %}

{% block title %} GAT acquisition LTV monitor dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="row">

    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <h1>GAT Acquisition LTV Monitoring Suite</h1>
          <div id="iframe-container" style="width: 100%; min-height:80vh; height:90vh;" >
            <iframe id="dash-iframe"
              frameborder="0" scrolling="yes"
              style='position: absolute; background: transparent; width: 95%; height:80vh;'
              src={{ dash_url }}
              frameborder="0">
            </iframe>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
