{% extends "base_site.html" %}

{% block title %} Google Ads Budget Optimizer {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="row">

    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <h1>Google Ads Budget Optimizer Tool</h1>
          <div style="width: 100%; min-height:800px;" >
            <iframe
              frameborder="0" scrolling="yes" onload="resizeIframe(this)"
              style='position: absolute; background: transparent; width: 95%; height:100vh;'
              src={{ dash_url }}
              frameborder="0">
            </iframe>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
